<%- include ('../../partials/header') %>
    <div class="bg-light fluid-container py-5" >
        <div class="row col-10 bg-white mx-auto py-5" >
            <h1><%=mainCategory.name%></h1>
            <h2> Danh mục:</h2>
            <%mainCategory.Categories.forEach((category)=>{%>
                <div class="shadow col-1 text-wrap mx-3" >
                    <a href="/get-item-by-category/<%=category.id%>" class="text-decoration-none">
                        <img src="<%=category.logo%>" alt="" height="30px" width="30px"><br>
                        <%=category.name%>
                    </a>
                </div>
            <%})%>
        </div>
    </div>
<%- include ('../../partials/footer') %>